@font-face {
    font-family: AtlasGrotesk-Reg;
    src: url(./fonts/AtlasGrotesk-Regular.otf);
}

@font-face {
    font-family: AtlasGrotesk-Med;
    src: url(./fonts/AtlasGrotesk-Medium.otf);
}

@font-face {
    font-family: AtlasGrotesk-Med-Ita;
    src: url(./fonts/AtlasGrotesk-RegularItalic.otf);
}

@font-face {
    font-family: AtlasType-Reg;
    src: url(./fonts/Atlas-Typewriter-Regular.otf);
}

@font-face {
    font-family: AtlasType-Italic;
    src: url(./fonts/Atlas-Typewriter-Italic.otf);
}

@font-face {
    font-family: AtlasType-Medium;
    src: url(./fonts/Atlas-Typewriter-Medium.otf);
}

body {
	font-family: AtlasGrotesk-Reg;
	margin: 0px;
}

hr {
    border: none;
    height: 2px;
    color: black;
    background-color: black;
}

p {
	margin-top: 0px;
}


h2 {
	font-size: 12pt;
	font-family: AtlasGrotesk-Med;
}

h3 {
	font-size: 14pt;
	font-family: AtlasGrotesk-Med;
}

h4 {
	font-size: 16pt;
}

*{
	box-sizing: border-box;
}

canvas {
	box-sizing: border-box;
	position: fixed;
	top: 0;
	left: 0;
}

#canvas {
	z-index: -1;
}


#start-page-animation {
	z-index: 3;
	background-color: black;
	color: white;
	min-width: 100%;
	min-height: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	-webkit-transition: opacity 2s, transform 2s; /* Safari */
    transition: opacity 2s, transform 2s;
    pointer-events: none;
}

#start-page-animation.show {
	opacity: 1;

}

#start-page-animation.hide {
	opacity: 0;
}

#title {
	color: white;
	font-family: AtlasType-Reg;
	font-size: 80pt;
	width: 100%;
	position: fixed;
	top: calc(50% - 75px);
	text-align: center;
	vertical-align: middle;
	-webkit-transition: opacity 2s, transform 2s; /* Safari */
    transition: opacity 2s, transform 2s;
}

#title.show {
	opacity: 1;
	-ms-transform: scale(1); /* IE 9 */
    -webkit-transform: scale(1); /* Safari */
    transform: scale(1);
}

#title.hide {
	opacity: 0;
	-ms-transform: scale(0.98); /* IE 9 */
    -webkit-transform: scale(0.98); /* Safari */
    transform: scale(0.98);
}

.shadow {
	box-shadow: 0 3px 10px rgba(0,0,0,0.6);
	-webkit-box-shadow: 0 3px 10px rgba(0,0,0,0.6);
	-moz-box-shadow: 0 3px 10px rgba(0,0,0,0.6);
	border-bottom: 1px solid white;
	moz-transition: opacity 2.2s ease;
}

#wrap {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	top: 50px; /*height of header*/
	position: fixed;
	width: 100%;
	height: 100%;
}


.text {
	padding: 20px; /*little margin on the sides*/
	padding-top: 40px;
	padding-bottom: 100px;
	overflow: scroll;
	line-height: 15pt;
	font-size: 12pt;
	flex: 4;
}

.word{
	display: none;
}

#wikiText {

}

#encyText {

}

.log {
	font-family: AtlasType-Reg;
	font-size: 12px;
	padding: 20px;
	padding-top: 39px;
	flex: 2;
	cursor: pointer;
	line-height: 17px;
}

.logcon {
	font-family: AtlasGrotesk-Reg;
}

.logcon:hover {
	font-family: AtlasGrotesk-Med;
}

#encyLog {
}

#wikiLog {
}

#page-wrapper {
	background-color: red;
}

#frontpage-header {
	position: fixed;
	z-index: 2;
	width: 100%;
	top: 0px;
	right: 0px;
	height: 64px;
	align-content: center;
    display: flex;
    align-items: center;
    -webkit-flex-flow: row wrap;
    padding: 20px;
    background-color: white;
    transition: box-shadow 250ms ease;
}

#menu-wrapper {
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	display: block;
	padding-top: 80px;
	overflow: scroll;
	position: fixed; 
	height: 100%;
}

#menu {
	font-size: 20px;
	font-family: AtlasGrotesk-Reg;
	z-index: 30;
	overflow: scroll; 
	height: auto;
	width: auto;
}

.menuLetter {
	width: 16.66666%;
	height: 398px;
	float: left;
	padding-right: 20px;
	overflow: auto;
}

#menu a:link {
    color: black;
    text-decoration: none;
}

#menu a:visited {
    color: black;
}

#menu a:hover {
    color: blue;
    font-family: AtlasGrotesk-Med-Ita;
}

#menu a:active {
    color: blue;
    font-family: AtlasGrotesk-Med-Ita;
}

#page-title-text {
	font-family: AtlasGrotesk-Reg;
	top: 20px;
	position: fixed;
	font-size: 20px
}

#about-button {
	font-family: AtlasGrotesk-Reg;
	font-size: 20px;
	position: fixed;
	top: 20px;
	text-align: right;
	float: right;
	right: 20px;
}

#about-button:hover{
	color: blue;
    font-family: AtlasGrotesk-Med-Ita;
    cursor: pointer !important;
}

#about-page-wrap{
	position: fixed;
	color: white;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0,0,255,0.9);
    overflow: scroll;
    font-family: AtlasGrotesk-Reg;
    z-index: 2;
}

#about-text {
	padding: 20px;
	padding-bottom: 20px;
	overflow: scroll !important;
	position:relative;
	font-size: 20px;
    line-height: 32px;
    max-width: 750px;
}

.sentence{
	font-size: 23px;
}

#credits span {
	text-decoration: none;
	border-bottom: 2px solid rgb(255, 255, 255);
	color: white;
	cursor: pointer;
}

#credits span:visited {
	color: white;
	border-bottom: 2px solid rgb(255, 255, 255);
}

#credits span:hover {
	color: black;
	border-bottom: 1px solid rgb(0, 0, 255); 
}

#credits span:active {
	color: white;
	border-bottom: 2px solid rgb(255, 255, 255);
}

.gray-word {
	color:black;
}

.step {
	font-family: AtlasType-Reg;
	font-size: 15px;
}

.curve {
	position: absolute;
}

#curve-1 {
	width: 130px;
	bottom: 720px;
	left: 75px;
}

#curve-2 {
	width: 130px;
	bottom: 720px;
	left: 320px;
}

#curve-3 {
	width: 130px;
	bottom: 720px;
	left: 480px;
}

#curve-4 {
	width: 300px;
	bottom: 635px;
	left: 308px;/*
	height: 2vh;*/
}

.website-div {
	position: absolute;
	font-size: 15px;
	padding-right: 8px;
	padding-left: 8px;
	background-color: lightgray;
	border:1px solid black;
	color: blue;
}


#x-button {
	font-size: 30px;
	position: fixed;
	top: 20px;
	right: 20px;
	cursor: pointer;
}

#x-button:hover {
	color: black;
}

#header {
	position: fixed;
	z-index: 2;
	width: 100%;
	height: 64px;
	background-color: white;
	align-content: center;
    display: flex;
    align-items: center;
    -webkit-flex-flow: row wrap;
    padding: 20px;
    transition: box-shadow 250ms ease;
}


.header-title {
	font-family: AtlasGrotesk-Reg;
	font-size: 20px;
	width: 400px;
	float: left;
	position: fixed;
	/*top: 0;*/
}

.artYear {

}

.wikiYear {
	left: calc(70% + 0px);

}

.encyYear {
	left: calc(22% + 0px);
}

#back-button {
	font-family: AtlasGrotesk-Reg;
	color: black;
	font-size: 18px;
	position: absolute;
	right: 20px;
	cursor: pointer;
	z-index: 3;
	/*padding-top: 15px;*/
}

#back-button:hover {
	color:blue;
}

.ency-header-title {

}


.wiki-header-title {
	left: calc(50% + 18px);
	/*left: 50%;*/
}

::-webkit-scrollbar { 
    display: none; 
}

.source a, .source:visited a{
	color: black;
	text-decoration: none;
}

.source:hover a{
	color: blue;
	font-family: AtlasType-Italic;
}


/*.underline {
  border-bottom: 2px solid rgb(255, 255, 255);
  display: inline-block;
  line-height: 0.99;
}*/

.hl{
	transition: 3s;
	padding: 1px;
	padding-top: 2px;
}


.hidden{
	display: none;
}


.encyhl0{
	background-color: rgb(198, 198, 198);
	color: black;
}

.encyhl1{
	background-color: rgb(254,228,204);
	color: black;
}

.encyhl2{
	background-color: rgb(204,252,203);
	color: black;
}

.encyhl3{
	background-color: rgb(243,252,202);
	color: black;
}

.encyhl4{
	background-color: rgb(243,204,249);
	color: black;
}

.encyhl5{
	background-color: rgb(206,253,243);
	color: black;
}

.encyhl6{
	background-color: rgb(254,206,205);
	color: black;
}

.encyhl7{
	background-color: rgb(204,203,252);
	color: black;
}

.encyhl8{
	background-color: rgb(252,244,205);
	color: black;
}

.encyhl9{
	background-color: rgb(207,236,253);
	color: black;
}

.encyhl10{
	background-color: lightgray;
	color: black;
}

.encyhl11{
	background-color: lime;
	color: black;
}

.wikihl0{
	background-color: rgba(0,0,255,0.9);
	color: white;
}

.wikihl1{
	background-color: rgb(0,255,194);
	color: black;
}

.wikihl2{
	background-color: rgb(218,255,0);
	color: black;
}

.wikihl3{
	background-color: rgb(255,69,0);
	color: white;
}

.wikihl4{
	background-color: rgb(255,255,0);
	color: black;
}

.wikihl5{
	background-color: rgb(211,0,255);
	color: white;
}

.wikihl6{
	background-color: rgb(255,206,0);
	color: black;
}

.wikihl7{
	background-color: rgb(0,191,255);
	color: black;
}

.wikihl8{
	background-color: rgb(7,255,0);
	color: black;
}

.wikihl9{
	background-color: rgb(255,20,147);
	color: white;
}

.wikihl10{
	background-color: rgb(218,255,0);
	color: black;
}

.wikihl11{
	background-color: #93FF6E;
	color: black;
}
